body{
background-color: beige;
color: grey;
font-family: sans-serif;
}
form{
margin: 50px auto;
max-width: 500px;
font-family:times;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
background-color: white;
color: grey;
padding: 30px 20px;
}
h1{
text-align: center;
font-family:sans-serif;
background-color:#FAF9F6;
}
