h1{
font-family: sans-serif;
color: #f8f8ff;
background-color:#1b1b1b;

}
body{
font-family: sans-serif;
color: #f8f8ff;
background-color:#242124;
}
h3{
font-family: times;
color: #f8f8ff;
background-color:#1b1b1b;
 
}   
p{
font-family:Open Sans;
color: #f8f8ff;
background-color:#242124;
}
h4{
font-family: times;
color: #f8f8ff;
background-color:#1b1b1b;
 
} 
label{
font-family:Open Sans;
color: #1b1b1b;
 
}     
form{
 marign: 50px 100px;
 max-width: 500px;
font-family:times;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 padding: 30px 20px;
 background-color: grey;
color: grey;
}
